<html>
    <head>
        <title>nodeman</title>
        <meta name="author" content="dave@sygade.eu, dennis@sweden.se" />
        <meta name="description" content="" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="initial-scale=1" />

        <link rel="stylesheet" href="/style/main.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css" />

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/js/client.js"></script>
    </head>
    <body class="center grey darken-2">
        <header class="center grey darken-4">
            <h4 class="lime-text text-darken-1">Nodeman.</h4>
        </header>
        <view name="enter">
            <div class="row">
                <div class="col center s12 m8 push-m2 l6 push-l3">
                    <input class="in enter name" type="text" placeholder="name">
                    <input class="in enter submit btn" type="submit" value="enter">
                </div>
            </div>
        </view>
        <view name="menu">
            create room
        </view>
        <view name="game">
            running game
        </view>
        <footer>

        </footer>
    </body>
</html>
