<html>
    <head>
        <title>nodeman</title>
        <meta name="author" content="dave@sygade.eu" />
        <meta name="description" content="" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="initial-scale=1" />

        <link rel="stylesheet" href="/style/main.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css" />

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
        <script type="text/javascript" src="http://cdn.ractivejs.org/latest/ractive.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/js/client.js"></script>
    </head>
    <body class="center grey lighten-4">
        <header class="center teal lighten-1 z-depth-2">
            <h4 class="grey-text text-lighten-3">Nodeman.</h4>
        </header>

        <view name="enter" class="active">
            <div class="container">
                <div class="container inner">
                    <p>Please enter a nickname:</p>
                    <input class="centered text center" key="playerName" type="text">
                    <input class="centered submit btn action" action="setPlayerName" type="submit" value="Enter">
                </div>
            </div>
        </view>

        <view name="menu">
            <div class="container">
                <div class="container inner">
                    <p>Hi, <v>playerName</v>!</p>
                    <p>Create a new room and invite your group of friends, or ask them to send you an invite link.</p>
                    <input class="submit btn action" action="createSession" type="submit" value="Create Room">
                </div>
            </div>
        </view>

        <view name="lobby">
            <div class="container">
                <div class="row header">
                    <div class="col s12">
                        <h5><v>session.owner.playerName</v>'s Lobby</h5>
                        <input readonly class="centered center text" key="inviteLink" type="text" value="">
                        <script>$('input[key="inviteLink"]').on('click', function(e) { e.target.select(); });</script>
                    </div>
                </div>
                <div class="row lobby grey lighten-2">
                    <div id="lobbyChat" class="col s12 m7 l9 chat">
                        <div class="scroll">
                            <div class="history">
                                <!-- :3 -->
                            </div>
                        </div>
                        <input class="message" type="text">
                    </div>
                    <div class="col s12 m5 l3 playerList">
                        <div class="template" tpl="playerList"></div>
                    </div>
                </div>
            </div>
        </view>

        <view name="game">
            <div class="container">
            </div>
        </view>

        <script class="template" name="playerList" type="text/ractive">
            {{#each data}}
                <div class="row player animate grey lighten-3 z-depth-1">
                    <div class="col s3 m2">
                        <img class="avatar" src="/img/avatar_default.png">
                    </div>
                    <div class="col s9 m10">
                        <span class="name left">{{ playerName }}</span>
                    </div>
                </div>
            {{/each}}
        </script>

        <footer class="teal lighten-1 z-depth-1">
            <div class="container">
                <div class="row">
                    <div class="col s3">
                        <p class="teal-text text-darken-4">Crafted by
                            <a href="http://qrakhen.net/" target="_blank">Qrakhen.</a>
                        </p>
                    </div>
                    <div class="col s6"></div>
                    <div class="col s3 right">
                        <p class="teal-text text-darken-4">
                            <a class="action" action="logout">Logout</a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
    <script>
        $(document).ready(function() {
            window.init()
        });
    </script>
</html>
